@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

body {
  font-family: "Orbitron";
  text-align: center;
}

#background {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  mix-blend-mode: overlay;
  height: 100%;
  width: 100%;
}

canvas {
  border: solid 2px red;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

button {
  border: none;
  background-color: lime;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(15, 150, 15);
  color: white;
}

#game-over-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: rgba(0, 0, 0, 0.8);
  color: red;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#display {
  font-size: 1.75rem;
}
